.Jobs-main-section{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: white;
}

html, body{
    height: 100;
    background-color: white;
}

.call-to-action{
    color: white;
}



